# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\College Repos\alevel-summer-work\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
